#change-wrapper {
  background-color: #ffffff;
  padding: 50px 150px;
  direction: rtl;
}

#change-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

#change-wrapper h1 {
  text-align: center;
  font-family: "TheSans";
  font-size: 40px;
  margin-bottom: 20px;
}

#change-form {
  padding: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 500px;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
}

#change-fields {
  padding: 10px;
  margin-right: 40px;
}

.change-item {
  font-family: "Arabic Typesetting";
  font-size: 30px;
  font-weight: 800;
  margin: 15px 0px;
}

.change-item p {
  margin-bottom: 0px;
}

.change-item input {
  border-radius: 5px;
  width: 400px;
}

#change-button {
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: "Arabic Typesetting";
  font-size: 30px;
  font-weight: 500;
  width: 400px;
  margin: 10px 0px;
  border-radius: 10px;
  border: none;
}

#change-button:hover {
  background-color: #000000;
  font-weight: 900;
}

#change-img-container {
  height: 380px;
  width: 380px;
  position: relative;
  right: 80px;
}

#change-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

@media (min-width: 920px) and (max-width: 1280px) {
  #change-wrapper {
    padding: 30px 90px;
  }

  #change-form {
    padding: 20px;
    font-size: 25px;
  }

  #change-fields {
    padding: 5px;
  }

  .change-item input {
    width: 360px;
    height: 30px;
  }

  #change-button {
    background-color: #1d1d1d;
    color: #ffffff;
    font-family: "Arabic Typesetting";
    font-size: 25px;
    width: 360px;
  }

  #change-img-container {
    height: 320px;
    width: 320px;
    position: relative;
    right: 20px;
    top: 20%;
  }
}

@media (min-width: 660px) and (max-width: 920px) {
  #change-wrapper {
    padding: 50px 100px;
    overflow-y: hidden;
  }

  #change-wrapper h1 {
    text-align: center;
    font-family: "TheSans";
    font-size: 40px;
    margin-bottom: 5%;
  }

  #change-form {
    padding: 40px 0px;
    width: 500px;
    height: 540px;
    margin: 0px auto 10%;
  }

  #change-img-container {
    display: none;
  }

  #change-img {
    display: none;
  }
}

@media (max-width: 480px) {
  #change-wrapper {
    padding: 20px 10px;
  }

  #change-wrapper h1 {
    font-size: 28px;
    margin: 20px 0px;
  }

  #change-form {
    padding: 20px 0px;
    width: 340px;
    height: 100%;
    margin: 0px auto;
  }

  #change-fields {
    margin-right: 5px;
  }

  .change-item {
    font-size: 130%;
  }

  .change-item input {
    width: 300px;
  }

  #change-img-container {
    display: none;
  }

  #change-img {
    display: none;
  }

  #change-button {
    font-size: 130%;
    width: 300px;
  }
}
