@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

i {
  margin-right: 10px;
}
.navbar-logo {
  float: right;
  padding: 15px;
  color: #fff;
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 10px;
  margin-right: 30px;
}

.navbar-logo:hover {
  color: #1c658c !important;
  background: #ffffff;
}

.navbar-mainbg {
  background-color: #1c658c;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
  font-family: "TheSans";
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

.nav-item-middle {
  margin-right: 300px;
}

#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

.active {
  color: #fff !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
}
