#requests_page {
  direction: rtl;
}

#circle_span {
  margin: 70px;
}

a.plus_sign svg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #000;
  margin-top: 30px;
}

a.plus_sign svg:hover {
  color: #398ab9;
}

.offer {
  border-radius: 10px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 250px;
  margin: 20px 5%;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
}

.offer div {
  text-align: center;
  margin: 20px;
}

.offer .request_person {
  width: 180px;
  height: 150px;
}

.offer div h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Arabic Typesetting";
  margin: 0px;
}

.offer .name {
  margin-top: 10px !important;
}

.offer img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offer .request_text {
  width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.offer .request_text p {
  text-align: justify;
  height: 30%;
  font-family: "TheSans";
  font-size: 18px;
  font-weight: normal;
}

.offer .request_send {
  width: 50px;
  height: 50px;
}

.offer .request_send a {
  top: -20px;
  position: relative;
}

.paginationBttns {
  margin: 40px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #398ab9;
  color: #398ab9;
  cursor: pointer;
}

.paginationBtn:hover {
  color: white;
  background-color: #398ab9;
}

.paginationActive a {
  color: white;
  background-color: #398ab9;
}

.arrowBtn {
  color: #398ab9;
  font-size: 20px;
  margin: 10px;
}

.arrowBtn:hover {
  color: #1c658c;
}
