#register-wrapper {
  background-color: #ffffff;
  padding: 50px 150px;
  direction: rtl;
}

#register-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

#register-wrapper h1 {
  text-align: center;
  font-family: "TheSans";
  font-size: 40px;
  margin-bottom: 20px;
}

#register-form {
  padding: 30px 60px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 80%;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#register-fields {
  margin-right: 40px;
}

.account-type {
  font-family: "Arabic Typesetting";
  font-size: 30px;
  font-weight: 800;
  display: flex;
  height: 40px;
  margin-top: 5px;
}

.account-type span {
  height: 50px;
  width: 120px;
  margin: 0px 20px;
}

.account-type input {
  margin-left: 8px;
}

#register-img-container {
  height: 440px;
  width: 440px;
  position: relative;
  right: 40px;
  top: 70px;
}

#register-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

@media (min-width: 920px) and (max-width: 1280px) {
  #register-wrapper {
    padding: 30px 90px;
  }

  #register-form {
    padding: 20px;
  }

  .account-type {
    font-size: 25px;
    font-weight: 600;
  }

  #register-img-container {
    height: 300px;
    width: 300px;
    position: relative;
    right: 20px;
    top: 20%;
  }
}

@media (min-width: 660px) and (max-width: 920px) {
  #register-wrapper {
    padding: 50px 100px;
  }

  #register-form {
    padding: 40px 0px;
    width: 540px;
    margin: 0px auto;
  }

  #register-img-container {
    display: none;
  }

  #register-img {
    display: none;
  }
}

@media (max-width: 480px) {
  #register-wrapper {
    padding: 20px 10px;
  }

  #register-wrapper h1 {
    font-size: 28px;
    font-weight: 900;
    margin: 20px 0px;
  }

  #register-form {
    padding: 20px 0px;
    width: 340px;
    height: 100%;
    margin: 0px auto;
  }

  #register-fields {
    margin-right: 5%;
  }
  
  .account-type {
    font-size: 110%;
    font-weight: 800;
    width: 150%;
    height: 8%;
    margin-top: 5%;
  }

  .account-type span {
    height: 50%;
    width: 100px;
    margin: 0px 10px;
  }

  .account-type input {
    width: 15%;
    margin-right: 10px;
  }

  .account-type label {
    font-size: 120%;
    margin: 0px;
  }

  #register-img-container {
    display: none;
  }

  #register-img {
    display: none;
  }
}
