/* Sign Item */
.sign-item {
    display: grid;
    font-family: "Arabic Typesetting";
    font-size: 30px;
    font-weight: 600;
    grid-template-columns: auto auto;
    margin-top: 5px;
    width: 150px;
}

.sign-item p {
    margin-bottom: 0px;
}

.sign-item label {
    margin: 0px;
    padding: 0px;
}
/* ---------------------------- */

/* Input Component */
.input {
  border-radius: 5px;
  height: 40px;
  border: 1px solid #000;
  padding: 5px;
}

.long-input {
  width: 460px;
}

.short-input {
  width: 220px;
  margin-left: 20px;
}

@media (min-width: 920px) and (max-width: 1280px) {
  .input {
    height: 30px;
  }
  
  .long-input {
    width: 400px;
  }

  .short-input {
    width: 190px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .input {
    height: 40%;
    border: 1px solid #000;
    padding: 5px;
  }

  .long-input {
    width: 300px;
  }

  .short-input {
    width: 140px;
    margin-left: 20px;
  }
}

/* ---------------------------- */


/* Buttom Links */
.bottom-links ul {
  display: inline;
  list-style: none;
}

.bottom-link {
  text-decoration: none;
  font-size: 15px;
  font-family: "TheSans";
  padding: 10px 0px;
  color: #1d97dd;
}

@media (max-width: 480px) {
      .bottom-link {
    text-decoration: none;
    font-size: 90%;
    font-family: "TheSans";
  }
}

/* -------------------------- */


/* Select Component */
.register-select {
  text-align: center;
  height: 40px;
  font-size: 28px;
  border-color: #000;
  border-radius: 5px;
}



@media (min-width: 920px) and (max-width: 1280px) {
  
  .register-select {
    height: 35%;
    font-size: 25px;
  }

  .register-select option {
    font-size: 20px;
  }

}

@media (max-width: 480px) {
  .register-select {
    height: 40%;
    font-size: 60%;
  }
}

/* ------------------------------ */

/* Sign Button */
.sign-btn {
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: "Arabic Typesetting";
  font-size: 30px;
  font-weight: 500;
  width: 460px;
  margin: 30px 0px;
  border-radius: 10px;
  border: none;
}

.sign-btn:hover {
  background-color: #000000;
  font-weight: 900;
}

@media (min-width: 920px) and (max-width: 1280px) {
  .sign-btn {
    font-size: 25px;
    width: 400px;
  }
}

@media (max-width: 480px) {
  .sign-btn {
    font-size: 100%;
    width: 300px;
    padding: 5px;
    height: 100%;
  }
}

/* ----------------------------------- */