/* Sign Item */
.sign-item {
    display: grid;
    font-family: "Arabic Typesetting";
    font-size: 30px;
    font-weight: 600;
    grid-template-columns: auto auto;
    margin-top: 5px;
    width: 150px;
}

.sign-item p {
    margin-bottom: 0px;
}

.sign-item label {
    margin: 0px;
    padding: 0px;
}
/* ---------------------------- */

/* Buttom Links */
.bottom-links ul {
  display: inline;
  list-style: none;
}

.bottom-link {
  text-decoration: none;
  font-size: 15px;
  font-family: "TheSans";
  padding: 10px 0px;
  color: #1d97dd;
}

@media (max-width: 480px) {
      .bottom-link {
    text-decoration: none;
    font-size: 90%;
    font-family: "TheSans";
  }
}

/* -------------------------- */